/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    height: 100%;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: cadetblue;
    color: #ffffff;
    height: 100%;
}
header {
    text-align: center;
    padding: 30px;
}
img {
    max-width: 100%;
}
.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}
.hero {
    margin-bottom: 40px;
}
h2 {
    text-align: center;
    text-transform: uppercase;
}
.lista-productos {
    /* margin-top: 40px; */
    padding: 0;
    list-style: none;
}
.lista-productos li {
    float: left;
    width: 50%;
    padding: 20px;
    text-align: center;
}
/** 2(0) + 1 **/
.lista-productos li:nth-child(2n+1){
    clear: both;
}
@media (min-width: 768px) {
    .lista-productos li {
        width: 33.3%;
    }
    .lista-productos li:nth-child(2n+1){
        clear: unset;
    }
    .lista-productos li:nth-child(3n+1){
        clear: both;
    }
}
.lista-productos li img {
    border: 10px solid rgba(128, 1, 195, 0.45);
    transition: border-color 0.3s ease-in-out;
}
.lista-productos li img:hover {
    border: 10px solid rgba(128, 1, 195, 1);
}
.lista-productos li p{
    font-size: 28px;
    font-weight: bold;
    margin: 10px 0 0 0;
}
span.precio{
    color: #ffce00;
    font-size: 40px;
}
.button{
    background-color: #ffce00;
    padding: 10px 40px;
    margin-top: 10px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: blue;
}